Repository boostcamp-2020/Project04-B-Whale, pull requests merged in 2020-12, with the labels that each got.

#122 CardDetailViewController 댓글 입력 뷰 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewHeader.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentTextField.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailContentLabel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailDueDateView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailStackView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/View/PaddingLabel.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS, 🛠 Refactor

#120 리스트 추가 기능 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/View/AddOrCancelView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListHeaderView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/Common/View/CustomBarButtonItem.swift
  iOS/AreUDone/AreUDone/Common/View/CustomTextField.swift
  iOS/AreUDone/AreUDone/Common/View/PaddingTextField.swift
Labels: 💥 Feature, 📱 iOS

#125 datestepper 버그 수정
  iOS/AreUDone/AreUDone/CalendarScene/View/DateStepper.swift
Labels: 📱 iOS, 🕷 Bug

#129 CardDetail 화면 뷰 추가
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CardDetailContentLabel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailLocationView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailStackView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#139 브랜치 'develop/web'의 Server CI 설정 완료
  .github/workflows/develop-server.yml
  server/.eslintrc.js
  server/.prettierrc.js
  server/src/Application.js
  server/src/common/config/database/ConnectionOptionGenerator.js
  server/src/common/config/passport/NaverStrategy.js
  server/src/common/env/DatabaseEnv.js
  server/src/main.js
  server/src/model/Activity.js
  server/src/model/Comment.js
  server/test/common/util/JwtUtil.test.js
  server/test/router/BoardRouter.test.js
Labels: 🌎 Environment, 💾 Server

#136 브랜치 'develop/web'의 Server 배포 설정 완료
  .github/workflows/develop-server.yml
  server/ecosystem.config.js
  server/src/main.js
Labels: 🌎 Environment, 💾 Server

#141 각 엔티티 DTO 생성 완료
  server/src/dto/BoardDto.js
  server/src/dto/CardDto.js
  server/src/dto/CommentDto.js
  server/src/dto/ListDto.js
  server/src/model/Comment.js
Labels: 💾 Server

#133 보드 화면 사이드바 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/SideBarView/SideBarView.xib
  iOS/AreUDone/AreUDone/BoardDetailScene/View/SideBarView/SideBarViewController.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#144 카드 상세화면 수정 기능 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailDueDateView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailLocationView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailStackView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/String+.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIAlertController+.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/Mock/MockRouter.swift
  iOS/AreUDone/AreUDone/Common/Model/AlertFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/CardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/CardService.swift
  iOS/AreUDone/AreUDone/ContentInputScene/ContentInputCoordinator.swift
  iOS/AreUDone/AreUDone/ContentInputScene/Resources/ContentInput.storyboard
  iOS/AreUDone/AreUDone/ContentInputScene/View/Controller/ContentInputViewController.swift
  iOS/AreUDone/AreUDone/ContentInputScene/ViewModel/ContentInputViewModel.swift
  iOS/AreUDone/AreUDoneTests/RouterTests.swift
  iOS/AreUDone/NetworkFramework/Routable.swift
  iOS/AreUDone/NetworkFramework/Router.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#145 GET /api/user/me 테스트 작성
  server/.eslintrc.js
  server/package-lock.json
  server/package.json
  server/test/TestTransactionDelegate.js
  server/test/router/BoardRouter.test.js
  server/test/router/UserRouter.test.js
  server/test/service/UserService.test.js
Labels: 💾 Server

#146 네이버 아이디로 로그인 API 연동
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Constants/APICredentials.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Model/UserService/UserEndPoint.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/SignInScene/Model/SigninChecker.swift
  iOS/AreUDone/AreUDone/SignInScene/SigninCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
  iOS/AreUDone/AreUDone/SignInScene/ViewModel/SigninViewModel.swift
Labels: 💥 Feature, 📱 iOS

#148 CardDetail Dummy Data 생성
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/Common/Mock/CardJsonFactory.swift
Labels: 💥 Feature, 📱 iOS

#132 일별 카드 개수 조회 API 구현
  server/src/common/config/database/ConnectionOptionGenerator.js
  server/src/common/util/queryParser.js
  server/src/common/util/validator.js
  server/src/dto/CardCountDto.js
  server/src/router/CardRouter.js
  server/src/router/index.js
  server/src/service/BoardService.js
  server/src/service/CardService.js
  server/test/router/CardRouter.test.js
  server/test/service/CardService.test.js
Labels: 💾 Server

#153 Card, List 엔티티에 creator 필드 추가
  server/src/model/Card.js
  server/src/model/List.js
  server/src/model/User.js
  server/test/router/CardRouter.test.js
  server/test/service/CardService.test.js
Labels: 💾 Server

#149 메인 페이지의 달력 컴포넌트 생성
  client/package-lock.json
  client/package.json
  client/src/components/mainPage/Calendar.js
  client/src/components/mainPage/CalendarBody.js
  client/src/components/mainPage/CalendarDate.js
  client/src/components/mainPage/CalendarHeader.js
  client/src/components/mainPage/MainWrapper.js
  client/src/components/mainPage/index.js
  client/src/components/provider/CalendarProvider.js
  client/src/context/CalendarContext.js
  client/src/styles/globalStyles.js
  client/src/styles/theme.js
Labels: 🖥 Client

#156 사이드바 화면 구성
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/BoardListScene/BoardListCoordinator.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Mock/ActivityJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Mock/BoardDetailJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Mock/BoardListJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/ActivityService/Activity.swift
  iOS/AreUDone/AreUDone/Common/Model/ActivityService/ActivityEndPoint.swift
  iOS/AreUDone/AreUDone/Common/Model/ActivityService/ActivityService.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardService/Board.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardService/BoardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardService/BoardEndPoint.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/ImageService/ImageEndPoint.swift
  iOS/AreUDone/AreUDone/Common/Model/ImageService/ImageService.swift
  iOS/AreUDone/AreUDone/Common/Model/ListService/List.swift
  iOS/AreUDone/AreUDone/SideBarScene/Model/SideBarHeaderContentsFactory.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/Controller/SideBarViewController.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/Controller/SideBarViewController.xib
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionViewActivityCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionViewMembersCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarHeaderView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.xib
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
Labels: 💥 Feature, 📱 iOS

#154 App Font 변경
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardListScene/View/CollectionView/BoardListCollectionView.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/CollectionView/BoardListCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/CollectionView/BoardListCollectionViewHeader.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarDateCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerHeaderView.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/DayLabel.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardContentView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateLabel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CardDetailContentLabel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewHeader.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentTextField.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailDueDateView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailLocationView.swift
  iOS/AreUDone/AreUDone/Common/Constants/Font.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/TabbarCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIFont+.swift
  iOS/AreUDone/AreUDone/ContentInputScene/View/Controller/ContentInputViewController.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#150 클라이언트에서 보드 생성 시, 보드 생성 안되는 오류 해결
  client/package-lock.json
  client/package.json
  client/src/components/common/create-board-modal.js
  client/src/utils/boardRequest.js
Labels: 🖥 Client

#157 Service 디렉토리 Common 바깥으로 분리하기
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Service/ActivityService/Activity.swift
  iOS/AreUDone/AreUDone/Service/ActivityService/ActivityEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ActivityService/ActivityService.swift
  iOS/AreUDone/AreUDone/Service/AlertFactory.swift
  iOS/AreUDone/AreUDone/Service/BoardService/Board.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardDetail.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Service/CardService/Card.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardDetail.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/AreUDone/Service/CardService/DetailCard.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentService.swift
  iOS/AreUDone/AreUDone/Service/ImageService/ImageEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ImageService/ImageService.swift
  iOS/AreUDone/AreUDone/Service/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/Service/Keychain.swift
  iOS/AreUDone/AreUDone/Service/ListService/List.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListService.swift
  iOS/AreUDone/AreUDone/Service/TabbarItemContentsFactory.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserEndPoint.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserService.swift
Labels: 📱 iOS, 🛠 Refactor

#162 디렉토리 및 파일 정리
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailStackView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/AlertFactory.swift
  iOS/AreUDone/AreUDone/Common/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/Common/Keychain.swift
  iOS/AreUDone/AreUDone/Common/Model/Activity.swift
  iOS/AreUDone/AreUDone/Common/Model/Board.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/CardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/List.swift
  iOS/AreUDone/AreUDone/Common/TabbarItemContentsFactory.swift
Labels: 📱 iOS, 🛠 Refactor

#166 사이드바 Footer 추가(초대하기 버튼)
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Extension/UIView+.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionViewActivityCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarFooterView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarHeaderView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.swift
Labels: 💥 Feature, 📱 iOS

#167 local UI에 수정된 내용이 표시되도록 수정
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailDueDateView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/ContentInputScene/ContentInputCoordinator.swift
  iOS/AreUDone/AreUDone/ContentInputScene/View/Controller/ContentInputViewController.swift
  iOS/AreUDone/AreUDone/ContentInputScene/ViewModel/ContentInputViewModel.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/NetworkFramework/EndPointable.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS, 🛠 Refactor

#158 일별 카드 개수 조회 API 데이터 연동
  client/src/components/mainPage/CalendarBody.js
  client/src/components/mainPage/CalendarDate.js
  client/src/components/mainPage/CalendarHeader.js
  client/src/components/provider/CalendarProvider.js
  client/src/context/CalendarContext.js
  client/src/styles/theme.js
  client/src/utils/cardRequest.js
Labels: 🖥 Client

#165 일별 카드 개수 조회 API 오류 수정
  server/src/service/CardService.js
  server/test/router/CardRouter.test.js
  server/test/service/CardService.test.js
Labels: 💾 Server

#169 CardDetailViewModel에 ImageService 주입하기
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Mock/CardJsonFactory.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#159 보드 상세 조회 API 구현
  client/src/components/boardPage/ActivitySidebar.js
  client/src/components/boardPage/InvitedUserDropdown.js
  client/src/components/boardPage/TopMenu.js
  client/src/components/boardPage/index.js
  client/src/components/common/CreateBoardModal.js
  client/src/components/common/header.js
  client/src/components/mainPage/AddBoardButton.js
  client/src/styles/globalStyles.js
  client/src/utils/boardRequest.js
  server/src/common/error/ForbiddenError.js
  server/src/router/BoardRouter.js
  server/src/service/BoardService.js
  server/test/router/BoardRouter.test.js
  server/test/service/BoardService.test.js
Labels: 💾 Server

#173 apple login 삭제
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/Resources/Signin.storyboard
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
Labels: 🎉 UI, 📱 iOS, 🛠 Refactor

#176 CardDetail 화면 CommentView에 본인 profileImage 넣기
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Mock/UserJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/User.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserEndPoint.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserService.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#177 사이드바 관련 객체들의 구조 개선
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/SideBarScene/View/Controller/SideBarViewController.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/ImageTitleView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberCollectionView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberFooterView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MembersCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionViewMembersCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarHeaderView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.xib
Labels: 📱 iOS, 🛠 Refactor

#179 이미지 캐시 구현
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardDetail.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MembersCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionViewActivityCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
Labels: 📱 iOS, 🛠 Refactor

#181 초대 화면 구조 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/View/CustomBarButtonItem.swift
  iOS/AreUDone/AreUDone/InvitationScene/InvitationCoordinator.swift
  iOS/AreUDone/AreUDone/InvitationScene/Resources/Invitation.storyboard
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationTableViewCell.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationTableViewDataSource.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationViewController.swift
  iOS/AreUDone/AreUDone/InvitationScene/ViewModel/InvitationViewModel.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserEndPoint.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserService.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/Controller/SideBarViewController.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MembersCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionViewMembersCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.swift
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#184 보드 목록 화면 재구성
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardListScene/BoardListCoordinator.swift
  iOS/AreUDone/AreUDone/BoardListScene/Model/SectionContentFactory.swift
  iOS/AreUDone/AreUDone/BoardListScene/Resources/BoardList.storyboard
  iOS/AreUDone/AreUDone/BoardListScene/View/CollectionView/BoardListCollectionView.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/CollectionView/BoardListCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/CollectionView/BoardListCollectionViewHeader.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/BoardListScene/ViewModel/BoardListViewModel.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/TabbarCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/String+.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIFont+.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIView+.swift
  iOS/AreUDone/AreUDone/Common/Mock/BoardListJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/View/CustomSegmentControl.swift
Labels: 🎉 UI, 📱 iOS

#202 보드 수정 api 구현
  server/src/dao/CustomUserRepository.js
  server/src/router/BoardRouter.js
  server/src/service/ActivityService.js
  server/src/service/BaseService.js
  server/src/service/BoardService.js
  server/test/router/BoardRouter.test.js
  server/test/service/BoardService.test.js
Labels: 💾 Server

#183 일별 카드 개수 조회 API 오류 수정
  server/src/dao/CustomBoardRepository.js
  server/src/dao/CustomCardRepository.js
  server/src/dto/CardCountDto.js
  server/src/router/CardRouter.js
  server/src/service/BoardService.js
  server/src/service/CardService.js
  server/test/router/BoardRouter.test.js
  server/test/router/CardRouter.test.js
  server/test/service/BoardService.test.js
  server/test/service/CardService.test.js
Labels: 💾 Server

#205 유저 검색 api 구현
  server/src/router/UserRouter.js
  server/src/service/UserService.js
  server/test/router/UserRouter.test.js
  server/test/service/UserService.test.js
Labels: 💾 Server

#206 보드 추가 화면 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardAddScene/BoardAddCoordinator.swift
  iOS/AreUDone/AreUDone/BoardAddScene/Resources/BoardAdd.storyboard
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardAddTableView.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardAddTableViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardAddViewController.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardColorTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardTitleTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardAddScene/ViewModel/BoardAddViewModel.swift
  iOS/AreUDone/AreUDone/BoardListScene/BoardListCoordinator.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#217 Board 서비스 / 라우터 테스트 코드 작성
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/AlertFactory.swift
  iOS/AreUDone/AreUDone/Common/Mock/MockRouter.swift
  iOS/AreUDone/AreUDone/ContentInputScene/View/Controller/ContentInputViewController.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDoneTests/BoardServiceTests.swift
  iOS/AreUDone/AreUDoneTests/ListViewModelTests.swift
  iOS/AreUDone/AreUDoneTests/RouterTests.swift
  iOS/AreUDone/NetworkFramework/Routable.swift
Labels: 📱 iOS

#211 카드에 포함된 멤버를 관리하는 기능 및 UI 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailMemberCollectionView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailMemberCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailMemberView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/CardDetail.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/MemberUpdateCoordinator.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/Model/MemberTableViewDataSource.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/Resources/MemberUpdate.storyboard
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/Controller/CardDetailMemberViewController.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/Controller/MemberUpdateViewController.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/MemberTableView.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/MemberTableViewCell.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/ViewModel/MemberUpdateViewModel.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/NetworkFramework/EndPointable.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#218 최초에 토큰을 받아올 때 UserInfo 값을 UserDefault에 저장
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Model/TokenParser.swift
  iOS/AreUDone/AreUDone/Common/Model/UserIdStore.swift
  iOS/AreUDone/AreUDone/Common/Model/UserInfo.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
Labels: 💥 Feature, 📱 iOS

#222 댓글 삭제 기능 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailMemberView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/AlertFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/CardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/User.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/MemberUpdateCoordinator.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/Model/MemberTableViewDataSource.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/Controller/MemberUpdateViewController.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/ViewModel/MemberUpdateViewModel.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentService.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserService.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#225 member가 업데이트 되지 않는 이슈 해결
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Mock/CardJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Mock/UserJsonFactory.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/Controller/MemberUpdateViewController.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/ViewModel/MemberUpdateViewModel.swift
Labels: 📱 iOS, 🕷 Bug

#212 카드 수정 API 구현
  server/src/common/error/ConflictError.js
  server/src/common/error/ErrorCode.js
  server/src/common/util/validator.js
  server/src/dao/CustomBoardRepository.js
  server/src/dao/CustomListRepository.js
  server/src/dto/CardDto.js
  server/src/router/CardRouter.js
  server/src/service/BaseService.js
  server/src/service/CardService.js
  server/test/router/CardRouter.test.js
  server/test/service/CardService.test.js
Labels: 💾 Server

#207 보드 상세페이지 내 상단 메뉴바 구현
  client/src/App.js
  client/src/components/boardPage/ActivityDetail.js
  client/src/components/boardPage/ActivitySidebar.js
  client/src/components/boardPage/AskOverDropdown.js
  client/src/components/boardPage/InvitedUserDropdown.js
  client/src/components/boardPage/TopMenu.js
  client/src/components/boardPage/UserDetailForDropdown.js
  client/src/components/boardPage/index.js
  client/src/components/common/BoardsButton.js
  client/src/components/common/BoardsDropdown.js
  client/src/components/common/CreateBoardModal.js
  client/src/components/common/header.js
  client/src/components/loginPage/NaverLoginButton.js
  client/src/components/loginPage/index.js
  client/src/components/provider/BoardDetailProvider.js
  client/src/context/BoardDetailContext.js
  client/src/image/app_logo.png
  client/src/image/check.svg
  client/src/image/close.svg
  client/src/utils/boardRequest.js
  client/src/utils/userRequest.js
  server/test/router/BoardRouter.test.js
Labels: 🖥 Client

#219 리스트 api 구현 (생성, 수정, 삭제)
  server/src/model/Card.js
  server/src/router/BoardRouter.js
  server/src/router/ListRouter.js
  server/src/router/index.js
  server/src/service/ListService.js
  server/test/router/BoardRouter.test.js
  server/test/router/ListRouter.test.js
  server/test/service/ListService.test.js
Labels: 💾 Server

#215 카드 목록 컴포넌트 개발 완료
  client/.eslintrc.js
  client/src/components/common/Card.js
  client/src/components/mainPage/CardScroll.js
  client/src/components/mainPage/MainWrapper.js
  client/src/components/provider/CardScrollProvider.js
  client/src/context/CardScrollContext.js
  client/src/utils/cardRequest.js
Labels: 🖥 Client

#231 카드 상세 조회 API 구현 완료
  server/docker-compose.yml
  server/src/common/error/ErrorCode.js
  server/src/common/error/InternalServerError.js
  server/src/dao/CustomCardRepository.js
  server/src/model/Comment.js
  server/src/router/CardRouter.js
  server/src/service/CardService.js
  server/test/router/CardRouter.test.js
  server/test/service/CardService.getCard.test.js
Labels: 💾 Server

#221 보드 전체 조회 API 명세서 불일치 문제 수정
  server/src/service/BoardService.js
Labels: 💾 Server, 🕷 Bug

#226 댓글 추가 API 연동 및 일부 기능 수정
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/Controller/MemberUpdateViewController.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentService.swift
Labels: 💥 Feature, 📱 iOS, 🛠 Refactor

#232 CalendarPickerView에 日에 포함된 카드 개수에 따른 색깔 변화 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarPickerScene/CalendarPickerViewCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarDateCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerHeaderView.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerViewController.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/ViewModel/CalendarPickerViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/Date+.swift
  iOS/AreUDone/AreUDone/Common/Mock/CardJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/MonthCardCount.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#237 CalendarPicker 화면에 시간 설정 기능 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerHeaderView.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerViewController.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/ViewModel/CalendarPickerViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/Common/AlertFactory.swift
  iOS/AreUDone/AreUDone/Common/Constants/Week.swift
  iOS/AreUDone/AreUDone/Common/Extension/Date+.swift
  iOS/AreUDone/AreUDone/Common/Extension/String+.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#239 댓글 입력 뷰 위치 조정
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
Labels: 📱 iOS, 🕷 Bug

#235 보드 목록 / 상세 화면의 리스트 기능 나머지 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardAddViewController.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardColorTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardAddScene/ViewModel/BoardAddViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/AddOrCancelView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListHeaderView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/BoardListScene/BoardListCoordinator.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/CollectionView/BoardListCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/BoardListScene/ViewModel/BoardListViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/NotificationName+.swift
  iOS/AreUDone/AreUDone/Common/Extension/String+.swift
  iOS/AreUDone/AreUDone/Common/Mock/BoardDetailJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/Board.swift
  iOS/AreUDone/AreUDone/Common/Model/List.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListService.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserService.swift
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
  iOS/AreUDone/NetworkFramework/EndPointable.swift
  iOS/AreUDone/NetworkFramework/Routable.swift
Labels: 💥 Feature, 📱 iOS, 🛠 Refactor

#229 카드에 멤버 추가/삭제 API 구현
  server/src/dao/CustomBoardRepository.js
  server/src/dto/AddMemberBodyDto.js
  server/src/dto/MemberDto.js
  server/src/router/CardRouter.js
  server/src/service/BaseService.js
  server/src/service/CardService.js
  server/test/router/CardRouter.test.js
  server/test/service/CardService.test.js
Labels: 💾 Server

#242 [FIX] 맨 앞으로 position 변경 시 튕기는 이슈 해결
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
Labels: 📱 iOS, 🕷 Bug

#249 유저 검색 API 연동
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/InvitationScene/InvitationCoordinator.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationTableViewCell.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationTableViewDataSource.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationViewController.swift
  iOS/AreUDone/AreUDone/InvitationScene/ViewModel/InvitationViewModel.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/Controller/SideBarViewController.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberFooterView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MembersCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.swift
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
Labels: 💥 Feature, 📱 iOS

#250 Calendar화면 화살표로 날짜 옮길 때 실행되지 않는 버그
  iOS/AreUDone/AreUDone/CalendarPickerScene/ViewModel/CalendarPickerViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/Date+.swift
  iOS/AreUDone/AreUDone/Common/Extension/String+.swift
  iOS/AreUDone/AreUDone/Common/Mock/CardJsonFactory.swift
Labels: 📱 iOS, 🕷 Bug

#245 마감기한 모달 컴포넌트 추가
  client/package-lock.json
  client/package.json
  client/src/components/common/CreateBoardModal.js
  client/src/components/common/DueDateButton.js
  client/src/components/common/DueDateModal.js
  client/src/components/common/header.js
  client/src/components/provider/BoardsProvider.js
  client/src/styles/customDatepicker.css
  client/src/utils/boardRequest.js
  client/src/utils/cardRequest.js
  client/src/utils/request.js
  client/src/utils/userRequest.js
Labels: 🖥 Client

#251 Calendar화면 card swipe 기능 수정
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
Labels: 📱 iOS, 🕷 Bug

#257 Calendar화면에서 모든 카드와 내가 즐겨찾는 카드로 분리하여 표시
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/CalendarPickerViewCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/ViewModel/CalendarPickerViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/Resources/Calendar.storyboard
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateStepper.xib
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Constants/FetchDailyCardsOption.swift
  iOS/AreUDone/AreUDone/Common/Constants/TitleChangeable.swift
  iOS/AreUDone/AreUDone/Common/View/CustomSegmentControl.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/MemberUpdateCoordinator.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentEndPoint.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS, 🛠 Refactor

#259 보드 상세 조회 리스트 position 순서 문제 수정
  server/src/service/BoardService.js
Labels: 💾 Server, 🕷 Bug

#261 카드 목록 컴포넌트 수정 완료
  client/package-lock.json
  client/package.json
  client/src/components/common/Card.js
  client/src/components/mainPage/CardScroll.js
  client/src/components/provider/CardScrollProvider.js
Labels: 🕷 Bug, 🖥 Client

#236 Card C/D API 구현 (생성, 삭제)
  server/src/router/BoardRouter.js
  server/src/router/CardRouter.js
  server/src/router/ListRouter.js
  server/src/service/CardService.js
  server/src/service/ListService.js
  server/test/router/CardRouter.test.js
  server/test/router/ListRouter.test.js
  server/test/service/CardService.test.js
Labels: 💾 Server

#264 CalendarPicker화면 버그 수정
  iOS/AreUDone/AreUDone/CalendarPickerScene/ViewModel/CalendarPickerViewModel.swift
Labels: 📱 iOS, 🕷 Bug

#271 초대 기능 버그 수정
  server/src/service/BoardService.js
Labels: 💾 Server, 🕷 Bug

#273 멤버 추가 / 삭제 로직 수정 및 body 설정 변경
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/Controller/MemberUpdateViewController.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/ViewModel/MemberUpdateViewModel.swift
  iOS/AreUDone/AreUDone/Service/ActivityService/ActivityEndPoint.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ImageService/ImageEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListEndPoint.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserEndPoint.swift
  iOS/AreUDone/NetworkFramework/EndPointable.swift
  iOS/AreUDone/NetworkFramework/Routable.swift
  iOS/AreUDone/NetworkFramework/Router.swift
Labels: 📱 iOS, 🕷 Bug, 🛠 Refactor

#276 Create API 응답값 형식 변경
  server/src/service/CardService.js
  server/src/service/ListService.js
Labels: 💾 Server

#254 리스트 컴포넌트, 리스트추가 인풋박스, 카드추가 인풋박스 컴포넌트 / 각종 모달창 구현
  client/package-lock.json
  client/package.json
  client/src/components/boardPage/AddListOrCard.js
  client/src/components/boardPage/AskOverDropdown.js
  client/src/components/boardPage/InvitedUserDropdown.js
  client/src/components/boardPage/List.js
  client/src/components/boardPage/ListMenuDropdown.js
  client/src/components/boardPage/TopMenu.js
  client/src/components/boardPage/index.js
  client/src/components/common/CreateBoardModal.js
  client/src/utils/listRequest.js
Labels: 🖥 Client

#275 일별 카드 개수 조회 API 오류 수정
  server/src/dao/CustomCardRepository.js
  server/test/service/CardService.test.js
Labels: 💾 Server, 🕷 Bug

#262 카드 이동 모달 컴포넌트 구현
  client/src/components/common/MoveButton.js
  client/src/components/common/MoveModal.js
  client/src/components/common/header.js
  client/src/utils/cardRequest.js
  client/src/utils/request.js
Labels: 🕷 Bug, 🖥 Client

#279 리스트/카드 포지션 변경 로직 적용
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardContentView.swift
  iOS/AreUDone/AreUDone/CardAddScene/CardAddCoordinator.swift
  iOS/AreUDone/AreUDone/CardAddScene/View/CardAddViewController.swift
  iOS/AreUDone/AreUDone/CardAddScene/ViewModel/CardAddViewModel.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/List.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListService.swift
Labels: 💥 Feature, 📱 iOS

#281 BoardList화면 ViewWillAppear에서 일어나는 화면 갱신 이슈
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/BoardListScene/ViewModel/BoardListViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/Common/Constants/FetchBoardOption.swift
Labels: 📱 iOS, 🕷 Bug

#283 KeychainFramework 수정
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/KeychainFramework/InternetAuthenticationType.swift
  iOS/AreUDone/KeychainFramework/InternetProtocol.swift
  iOS/AreUDone/KeychainFramework/SecureStore.swift
  iOS/AreUDone/KeychainFramework/SecureStoreError.swift
  iOS/AreUDone/KeychainFramework/SecureStoreQueryable.swift
Labels: 📱 iOS, 🛠 Refactor

#253 카드 멤버 초대 모달 컴포넌트 구현
  client/src/components/common/Member.js
  client/src/components/common/MemberButton.js
  client/src/components/common/MemberModal.js
  client/src/utils/cardRequest.js
  client/src/utils/request.js
Labels: 🖥 Client

#277 카드/리스트 생성 시 응답값 변경에 따른 수정
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
Labels: 📱 iOS, 🛠 Refactor

#284 카드 선택 시 해당 카드의 상세 화면으로 가도록 구현
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/Resources/Calendar.storyboard
  iOS/AreUDone/AreUDone/Common/Model/List.swift
  iOS/AreUDone/AreUDone/Common/TabbarItemContentsFactory.swift
Labels: 💥 Feature, 📱 iOS

#278 카드 컴포넌트 구현
  client/package-lock.json
  client/package.json
  client/src/components/boardPage/ActivitySidebar.js
  client/src/components/boardPage/AddListOrCard.js
  client/src/components/boardPage/AskOverDropdown.js
  client/src/components/boardPage/InvitedUserDropdown.js
  client/src/components/boardPage/List.js
  client/src/components/boardPage/TopMenu.js
  client/src/components/boardPage/UserDetailForDropdown.js
  client/src/components/common/Card.js
  client/src/image/check.svg
  client/src/image/close.svg
  client/src/utils/cardRequest.js
  client/src/utils/request.js
Labels: 🖥 Client

#287 카드 상세 모달 스타일 구현
  client/src/components/cardModal/CardDescriptionContainer.js
  client/src/components/cardModal/CardDueDateContainer.js
  client/src/components/cardModal/CardModal.js
  client/src/components/cardModal/CardModalButton.js
  client/src/components/cardModal/CardTitleContainer.js
  client/src/components/cardModal/CloseButton.js
  client/src/components/cardModal/Comment.js
  client/src/components/cardModal/CommentContainer.js
  client/src/components/cardModal/CommentInput.js
  client/src/components/cardModal/SaveButton.js
Labels: 🖥 Client

#286 공유보드 상세화면 전환되지 않는 이슈
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/BoardListScene/ViewModel/BoardListViewModel.swift
Labels: 📱 iOS, 🕷 Bug

#290 CardService Realm 적용
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/Podfile.lock
Labels: 💥 Feature, 📱 iOS

#292 카드 상세 모달 조회 API 연동
  client/package-lock.json
  client/src/components/boardPage/List.js
  client/src/components/boardPage/index.js
  client/src/components/cardModal/CardDescriptionContainer.js
  client/src/components/cardModal/CardModal.js
  client/src/components/cardModal/Comment.js
  client/src/components/cardModal/CommentContainer.js
  client/src/components/cardModal/CommentInput.js
  client/src/components/common/Card.js
  client/src/components/mainPage/CardScroll.js
  client/src/utils/cardRequest.js
Labels: 🖥 Client

#294 Realm 환경설정 / 기본작업
  iOS/.gitignore
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone.xcworkspace/contents.xcworkspacedata
  iOS/AreUDone/AreUDone.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/BoardListScene/BoardListCoordinator.swift
  iOS/AreUDone/AreUDone/BoardListScene/ViewModel/BoardListViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/Realm+.swift
  iOS/AreUDone/AreUDone/Common/Model/Board.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/ListOfBoard.swift
  iOS/AreUDone/AreUDone/Common/Model/User.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/ViewModel/MemberUpdateViewModel.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListService.swift
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
  iOS/AreUDone/AreUDoneTests/RealmBoardTests.swift
  iOS/AreUDone/NetworkFramework/Router.swift
  iOS/AreUDone/Podfile
  iOS/AreUDone/Podfile.lock
Labels: 🌎 Environment, 💥 Feature, 📱 iOS

#300 테스트 분리 완료
  server/test/TransactionRollbackExecutor.js
  server/test/dao/CustomBoardRepository.test.js
  server/test/dao/CustomCardRepository.test.js
  server/test/router/BoardRouter.test.js
  server/test/router/CardRouter.test.js
  server/test/router/ListRouter.test.js
  server/test/router/UserRouter.test.js
  server/test/router/board/BoardRouter.getBoard.test.js
  server/test/router/board/BoardRouter.getBoardByBoardId.test.js
  server/test/router/board/BoardRouter.postBoard.test.js
  server/test/router/board/BoardRouter.postBoardList.test.js
  server/test/router/board/BoardRouter.putBoardByBoardId.test.js
  server/test/router/card/CardRouter.deleteCardByCardId.test.js
  server/test/router/card/CardRouter.getCardByCardId.test.js
  server/test/router/card/CardRouter.getCardCount.test.js
  server/test/router/card/CardRouter.getCardsByDueDate.test.js
  server/test/router/card/CardRouter.patchCardByCardId.test.js
  server/test/router/card/CardRouter.postCardCommentByCardId.test.js
  server/test/router/card/CardRouter.putCardMemberByCardId.test.js
  server/test/router/comment/CommentRouter.deleteCommentByCommentId.test.js
  server/test/router/comment/CommentRouter.patchCommentByCommentId.test.js
  server/test/router/list/ListRouter.deleteListByListId.test.js
  server/test/router/list/ListRouter.patchListByListId.test.js
  server/test/router/list/ListRouter.postListCard.test.js
  server/test/router/user/UserRotuer.getUserMe.test.js
  server/test/router/user/UserRouter.getUserByUsername.test.js
  server/test/service/CardService.test.js
  server/test/service/UserService.test.js
  server/test/service/board/BoardService.getDetailBoard.test.js
  server/test/service/board/BoardService.updateBoard.test.js
  server/test/service/card/CardService.addMemberToCardByUserIds.test.js
  server/test/service/card/CardService.deleteCard.test.js
  server/test/service/card/CardService.getAllCardCountByPeriod.test.js
  server/test/service/card/CardService.getAllCardsByDueDate.test.js
  server/test/service/card/CardService.getCard.test.js
  server/test/service/card/CardService.getMyCardCountByPeriod.test.js
  server/test/service/card/CardService.getMyCardsByDueDate.test.js
  server/test/service/card/CardService.modifyCardById.test.js
  server/test/service/comment/CommentService.addComment.test.js
  server/test/service/comment/CommentService.modifyComment.test.js
  server/test/service/comment/CommentService.removeComment.test.js
  server/test/service/list/ListService.deleteList.test.js
  server/test/service/list/ListService.updateList.test.js
  server/test/service/user/UserService.getUserById.test.js
  server/test/service/user/UserService.getUserStartsWithName.test.js
Labels: 💾 Server

#298 List 이동 드롭다운, 리스트/카드 드래그앤드롭 구현
  client/package-lock.json
  client/package.json
  client/public/favicon.png
  client/public/index.html
  client/src/components/boardPage/List.js
  client/src/components/boardPage/ListMenuDropdown.js
  client/src/components/boardPage/ListMoveDropdown.js
  client/src/components/boardPage/index.js
  client/src/components/common/Card.js
  client/src/components/mainPage/CardScroll.js
  client/src/image/app_logo.png
  client/src/utils/listRequest.js
Labels: 🖥 Client

#301 댓글 생성 API 응답 수정 완료
  server/src/dto/CommentDto.js
  server/src/model/Comment.js
  server/src/router/CardRouter.js
  server/src/router/CommentRouter.js
  server/src/service/CommentService.js
  server/test/router/card/CardRouter.postCardCommentByCardId.test.js
  server/test/router/comment/CommentRouter.patchCommentByCommentId.test.js
  server/test/service/comment/CommentService.addComment.test.js
  server/test/service/comment/CommentService.modifyComment.test.js
Labels: 💾 Server

#303 카드 멤버 모달창 카드 API 데이터와 연동
  client/src/components/boardPage/List.js
  client/src/components/cardModal/CardMemberContainer.js
  client/src/components/cardModal/CardModal.js
  client/src/components/cardModal/Member.js
  client/src/components/common/Member.js
  client/src/components/common/MemberModal.js
  client/src/context/CardContext.js
Labels: 🖥 Client

#302 Card 관련 데이터 realm 적용
  iOS/AreUDone/AreUDone/CalendarPickerScene/ViewModel/CalendarPickerViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/CardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/User.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/ViewModel/MemberUpdateViewModel.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
Labels: 💥 Feature, 📱 iOS, 🛠 Refactor

#310 카드 상세 조회 API 응답 값에 position 값 추가
  server/src/service/CardService.js
  server/test/router/card/CardRouter.getCardByCardId.test.js
  server/test/service/card/CardService.getCard.test.js
Labels: 💾 Server

#308 Realm 보드 상세 화면 적용 (+로컬 이미지 캐싱 추가)
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/CardAddScene/ViewModel/CardAddViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailMemberView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Mock/MockRouter.swift
  iOS/AreUDone/AreUDone/Common/Model/Board.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/ListOfBoard.swift
  iOS/AreUDone/AreUDone/InvitationScene/InvitationCoordinator.swift
  iOS/AreUDone/AreUDone/InvitationScene/ViewModel/InvitationViewModel.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/MemberUpdateCoordinator.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/View/Controller/MemberUpdateViewController.swift
  iOS/AreUDone/AreUDone/MemberUpdateScene/ViewModel/MemberUpdateViewModel.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Service/ImageService/CacheManager.swift
  iOS/AreUDone/AreUDone/Service/ImageService/ImageService.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListService.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MembersCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
  iOS/AreUDone/NetworkFramework/Path.swift
  iOS/AreUDone/NetworkFramework/Routable.swift
  iOS/AreUDone/NetworkFramework/Router.swift
Labels: 💥 Feature, 📱 iOS

#318 머지 이슈 해결
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
Labels: 📱 iOS, 🕷 Bug

#307 카드 상세 모달의 마감기한 변경 컴포넌트 추가
  client/src/components/cardModal/CardDueDateContainer.js
  client/src/components/cardModal/CardModal.js
Labels: 🖥 Client

#306 리스트, 카드 컴포넌트 드래그 앤 드롭 버그 수정
  client/src/components/boardPage/AddListOrCard.js
  client/src/components/boardPage/List.js
  client/src/components/common/Card.js
Labels: 🕷 Bug, 🖥 Client

#315 GitHub Oauth 구현
  .github/workflows/develop-server.yml
  server/package-lock.json
  server/package.json
  server/src/Application.js
  server/src/common/config/passport/GitHubStrategy.js
  server/src/router/OAuthRouter.js
Labels: 💾 Server

#313 카드 이동 모달 이동 이벤트 추가
  client/src/components/cardModal/CardModal.js
  client/src/components/common/MemberButton.js
  client/src/components/common/MemberModal.js
  client/src/components/common/MoveButton.js
  client/src/components/common/MoveModal.js
Labels: 🖥 Client

#322 타임존 및 날짜 반환 형식 변경 완료
  server/src/common/config/database/ConnectionOptionGenerator.js
  server/src/dto/CardDto.js
  server/src/router/CardRouter.js
  server/src/router/ListRouter.js
  server/src/service/BoardService.js
  server/src/service/CardService.js
  server/src/service/CommentService.js
  server/test/router/card/CardRouter.getCardByCardId.test.js
  server/test/router/card/CardRouter.getCardsByDueDate.test.js
  server/test/router/comment/CommentRouter.patchCommentByCommentId.test.js
  server/test/router/list/ListRouter.postListCard.test.js
  server/test/service/board/BoardService.getDetailBoard.test.js
  server/test/service/card/CardService.getCard.test.js
  server/test/service/card/CardService.getMyCardsByDueDate.test.js
  server/test/service/comment/CommentService.addComment.test.js
  server/test/service/comment/CommentService.modifyComment.test.js
Labels: 💾 Server

#325 깃헙 로그인 컴포넌트 구현
  client/package-lock.json
  client/package.json
  client/src/components/loginPage/GitHubLoginButton.js
  client/src/components/loginPage/index.js
Labels: 🖥 Client

#328 일별 카드 개수 조회 API 오류 수정
  server/src/dao/CustomCardRepository.js
  server/test/service/card/CardService.getMyCardCountByPeriod.test.js
Labels: 💾 Server, 🕷 Bug

#321 Github 로그인 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Constants/Font.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIFont+.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserEndPoint.swift
  iOS/AreUDone/AreUDone/SignInScene/Resources/Signin.storyboard
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/github_logo.imageset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/github_logo.imageset/github_logo.png
  iOS/AreUDone/AreUDone/Supports/Info.plist
Labels: 💥 Feature, 📱 iOS

#323 로그아웃 기능 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/AlertFactory.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/Coordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/TabbarCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/Common/TabbarItemContentsFactory.swift
  iOS/AreUDone/AreUDone/SettingScene/Resources/Setting.storyboard
  iOS/AreUDone/AreUDone/SettingScene/SettingCoordinator.swift
  iOS/AreUDone/AreUDone/SettingScene/View/Controller/SettingViewController.swift
  iOS/AreUDone/AreUDone/SettingScene/View/SettingTableView.swift
  iOS/AreUDone/AreUDone/SettingScene/View/SettingTableViewCell.swift
  iOS/AreUDone/AreUDone/SettingScene/ViewModel/SettingViewModel.swift
  iOS/AreUDone/AreUDone/SignInScene/SigninCoordinator.swift
Labels: 💥 Feature, 📱 iOS

#332 보드 상세 컬렉션뷰
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListHeaderView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/ListTableViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/CardAddScene/ViewModel/CardAddViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/Realm+.swift
  iOS/AreUDone/AreUDone/Common/Model/ListOfBoard.swift
  iOS/AreUDone/AreUDone/Common/View/PaddingTextField.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardLocalDataSource.swift
Labels: 📱 iOS, 🕷 Bug, 🛠 Refactor

#330 댓글 추가 성공 시 애니메이션 추가
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardListScene/ViewModel/BoardListViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIScrollView+.swift
Labels: 💥 Feature, 📱 iOS, 🕷 Bug

#338 댓글 수정 버튼 이슈
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CollectionView/CommentCollectionViewCell.swift
Labels: 📱 iOS, 🕷 Bug

#339 Comment 추가 후 response 처리하기
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentService.swift
Labels: 📱 iOS, 🛠 Refactor

#344 활동기록 api 구현
  server/package.json
  server/src/Application.js
  server/src/common/config/database/ConnectionOptionGenerator.js
  server/src/common/middleware/subscriber.js
  server/src/dao/CustomBoardRepository.js
  server/src/model/Activity.js
  server/src/service/BoardService.js
  server/src/service/CardService.js
  server/src/service/CommentService.js
  server/src/service/ListService.js
  server/src/subscriber/BoardSubscriber.js
  server/src/subscriber/CardSubscriber.js
  server/src/subscriber/CommentSubscriber.js
  server/src/subscriber/ListSubscriber.js
Labels: 💾 Server

#333 whale 확장앱 API 사용을 위한 메세지 함수 추가 및 버그 수정
  client/src/components/boardPage/AddListOrCard.js
  client/src/components/boardPage/index.js
  client/src/components/cardModal/CardDueDateContainer.js
  client/src/components/cardModal/CardModal.js
  client/src/components/common/BoardsDropdown.js
  client/src/components/common/MoveModal.js
  client/src/components/mainPage/CardScroll.js
  client/src/components/provider/CardScrollProvider.js
  client/src/utils/contentScript.js
Labels: 🕷 Bug, 🖥 Client

#347 카드 모달에 카드 수정 API 연동 완료
  client/src/components/cardModal/CardDescriptionContainer.js
  client/src/components/cardModal/CardModal.js
  client/src/components/cardModal/CardTitleContainer.js
  client/src/components/cardModal/CloseButton.js
  client/src/components/cardModal/CommentContainer.js
  client/src/components/cardModal/CommentInput.js
  client/src/components/cardModal/SaveButton.js
  client/src/utils/cardRequest.js
  client/src/utils/commentRequest.js
Labels: 🖥 Client

#350 보드에서 나가기 api 구현
  server/src/model/Activity.js
  server/src/model/Comment.js
  server/src/model/Invitation.js
  server/src/model/List.js
  server/src/model/Member.js
  server/src/router/BoardRouter.js
  server/src/service/BoardService.js
  server/test/router/board/BoardRouter.exitBoard.test.js
  server/test/service/board/BoardService.exitBoard.test.js
Labels: 💾 Server

#345 Comment 추가 / 삭제 시 realm 동기화 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Model/User.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentService.swift
Labels: 💥 Feature, 📱 iOS, 🛠 Refactor

#348 비어 있는 View에 지시 UI 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardListScene/View/Controller/BoardListViewController.swift
  iOS/AreUDone/AreUDone/BoardListScene/ViewModel/BoardListViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/View/EmptyIndicatorView.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#355 보드 삭제 기능 구현
  iOS/AreUDone/AreUDone/Common/AlertFactory.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/Controller/SideBarViewController.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.swift
  iOS/AreUDone/AreUDone/SideBarScene/ViewModel/SideBarViewModel.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#357 오프라인에서 보드 목록 추가 시 Realm 에 EndPoint 및 보드 정보 저장
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardAddScene/BoardAddCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/EndPointable+.swift
  iOS/AreUDone/AreUDone/Common/Extension/NotificationName+.swift
  iOS/AreUDone/AreUDone/Common/Model/Board.swift
  iOS/AreUDone/AreUDone/Common/Model/OrderedEndPoint.swift
  iOS/AreUDone/AreUDone/Common/NWMonitor.swift
  iOS/AreUDone/AreUDone/Common/ScreenBorderLayerAnimator.swift
  iOS/AreUDone/AreUDone/Common/View/BorderLayer.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
Labels: 💥 Feature, 📱 iOS

#360 Board 별 활동 기록 조회 기능 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/SideBarScene/ImageTitleView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberFooterView.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/SideBarCollectionViewActivityCell.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#354 보드별 활동기록 조회 API 구현
  server/src/model/Activity.js
  server/src/router/ActivityRouter.js
  server/src/router/index.js
  server/src/service/ActivityService.js
  server/test/router/activity/ActivityRouter.getActivities.test.js
Labels: 💾 Server

#361 보드 삭제 API 구현
  server/src/Application.js
  server/src/common/middleware/namespaceCreator.js
  server/src/router/BoardRouter.js
  server/src/service/BoardService.js
  server/src/service/CardService.js
  server/src/service/ListService.js
  server/src/subscriber/ListSubscriber.js
  server/test/router/board/BoardRouter.deleteBoard.test.js
  server/test/service/board/BoardService.deleteBoard.test.js
Labels: 💾 Server

#363 Sentry 설정 완료
  server/package-lock.json
  server/package.json
  server/src/Application.js
  server/src/common/middleware/shouldHandlerError.js
Labels: 🌎 Environment, 💾 Server

#364 activity api 응답 boardId 자료형 변경
  server/src/router/ActivityRouter.js
Labels: 💾 Server, 🕷 Bug

#368 Sentry 환경변수 버그 수정 및 ESLint 설정 변경
  server/.eslintrc.js
  server/src/Application.js
  server/src/common/middleware/errorHandler.js
  server/test/router/activity/ActivityRouter.getActivities.test.js
  server/test/router/board/BoardRouter.exitBoard.test.js
  server/test/service/board/BoardService.exitBoard.test.js
  server/test/service/user/UserService.getUserById.test.js
Labels: 🌎 Environment, 💾 Server

#370 활동기록API 순서 변경
  server/src/service/ActivityService.js
  server/src/service/BoardService.js
  server/src/subscriber/CardSubscriber.js
  server/src/subscriber/InvitationSubscriber.js
Labels: 💾 Server, 🕷 Bug

#371 입력 화면에서 FirstResponder 적용
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardAddTableViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/BoardColorTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/Controller/BoardAddViewController.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/TitleTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardAddScene/ViewModel/BoardAddViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/AddOrCancelView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailFooterView.swift
  iOS/AreUDone/AreUDone/CardAddScene/View/CardAddCalendarTableViewCell.swift
  iOS/AreUDone/AreUDone/CardAddScene/View/CardAddContentsTableViewCell.swift
  iOS/AreUDone/AreUDone/CardAddScene/ViewModel/CardAddViewModel.swift
  iOS/AreUDone/AreUDone/Common/Model/Activity.swift
  iOS/AreUDone/AreUDone/ContentInputScene/View/Controller/ContentInputViewController.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS, 🛠 Refactor

#374 오프라인 리스트 / 카드 추가 기능 구현 ( + 드래그앤드랍 버그 수정)
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/TableView/ListTableView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/TableView/ListTableViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/Resources/Calendar.storyboard
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardContentView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateStepper.xib
  iOS/AreUDone/AreUDone/CardAddScene/CardAddCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/NotificationName+.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/ListOfBoard.swift
  iOS/AreUDone/AreUDone/Common/Model/StoredEndPoint.swift
  iOS/AreUDone/AreUDone/Common/NWMonitor.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListService.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/Controller/SideBarViewController.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.swift
Labels: 💥 Feature, 📱 iOS

#378 보드 상세페이지 사이드바, 반응형 구현
  client/package-lock.json
  client/package.json
  client/src/components/boardPage/ActivitySidebar.js
  client/src/components/boardPage/AddListOrCard.js
  client/src/components/boardPage/AskOverDropdown.js
  client/src/components/boardPage/InvitedUserDropdown.js
  client/src/components/boardPage/ListMenuDropdown.js
  client/src/components/boardPage/TopMenu.js
  client/src/components/boardPage/index.js
  client/src/components/common/BoardsButton.js
  client/src/components/common/Card.js
  client/src/components/common/CreateBoardModal.js
  client/src/components/common/header.js
  client/src/components/loginPage/GitHubLoginButton.js
  client/src/components/loginPage/NaverLoginButton.js
  client/src/components/loginPage/index.js
  client/src/components/provider/ActivityProvider.js
  client/src/context/ActivityContext.js
  client/src/styles/globalStyles.js
  client/src/utils/activityRequest.js
  client/src/utils/boardRequest.js
  client/src/utils/userRequest.js
Labels: 🖥 Client

#376 axios interceptor 설정 변경 및 보드, 카드 생성 오류 수정
  client/src/components/common/CreateBoardModal.js
  client/src/utils/request.js
Labels: 🕷 Bug, 🖥 Client

#384 카드 수정 시, dueDate가 현재 시간으로 변경되는 오류 수정
  server/src/service/CardService.js
  server/test/service/card/CardService.modifyCardById.test.js
Labels: 💾 Server, 🕷 Bug

#385 댓글 날짜 내림차순 정렬 수정 완료
  server/src/dao/CustomCardRepository.js
  server/test/dao/CustomCardRepository.findWithCommentsAndMembers.test.js
Labels: 💾 Server, 🕷 Bug

#386 댓글 order by 수정
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateStepper.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/Coordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/TabbarCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIScrollView+.swift
  iOS/AreUDone/AreUDone/SettingScene/SettingCoordinator.swift
Labels: 🎉 UI, 📱 iOS, 🛠 Refactor

#383 전체적인 화면 UI 수정
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/Resources/Calendar.storyboard
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardContentView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateStepper.xib
  iOS/AreUDone/AreUDone/SignInScene/Resources/Signin.storyboard
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Icon-20@2x.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Icon-20@3x.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Icon-29@2x.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Icon-29@3x.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Icon-40@2x.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Icon-40@3x.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Icon-60@2x.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Icon-60@3x.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/ios-marketing.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/app_logo.imageset/app_logo.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/boostrello.imageset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/boostrello.imageset/image.png
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/note-background.imageset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/note-background.imageset/note-background.png
Labels: 🎉 UI, 📱 iOS, 🛠 Refactor

#388 초대 화면 폰트 및 키보드 설정
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationTableViewCell.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationViewController.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberCell.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/SideBarView.swift
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/exit-icon.imageset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/exit-icon.imageset/exit-icon.jpg
Labels: 🎉 UI, 📱 iOS, 🛠 Refactor

#381 가로 스크롤 마우스 휠 이벤트 추가
  client/src/components/boardPage/List.js
  client/src/components/boardPage/index.js
Labels: 🖥 Client

#403 NW 모니터 관련 버그 및 애니메이션 수정
  iOS/AreUDone/AreUDone/Common/NWMonitor.swift
  iOS/AreUDone/AreUDone/Common/ScreenBorderLayerAnimator.swift
  iOS/AreUDone/AreUDone/Common/View/BorderLayer.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
Labels: 💥 Feature, 📱 iOS, 🕷 Bug

#394 일부 UI 수정
  iOS/AreUDone/AreUDone/BoardAddScene/ViewModel/BoardAddViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/AddOrCancelView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/CardAddScene/ViewModel/CardAddViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailLocationView.swift
  iOS/AreUDone/AreUDone/Common/Extension/String+.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationTableViewCell.swift
  iOS/AreUDone/AreUDone/InvitationScene/View/InvitationViewController.swift
  iOS/AreUDone/AreUDone/InvitationScene/ViewModel/InvitationViewModel.swift
Labels: 🎉 UI, 📱 iOS, 🛠 Refactor

#406 SceneDelegate 리팩토링
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Constants/APICredentials.swift
  iOS/AreUDone/AreUDone/Common/Constants/Key.swift
  iOS/AreUDone/AreUDone/Common/Extension/NotificationName+.swift
  iOS/AreUDone/AreUDone/Common/View/AlertLayer.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/SignInScene/Model/VideoPlayerLooper.swift
Labels: 📱 iOS, 🛠 Refactor

#393 리스트 타이틀 변경 시 활동기록 버그 수정
  server/src/subscriber/ListSubscriber.js
Labels: 💾 Server, 🕷 Bug

#408 프론트엔드 마스터 브랜치 GitHub Actions CI/CD 작성
  .github/workflows/master-frontend.yml
Labels: 🖥 Client

#407 백엔드 마스터 브랜치 GitHub Actions CI/CD 작성
  .github/workflow/master-backend.yml
Labels: 💾 Server

#411 dueDate변경시, 달력 상태 변경 오류 및 카드 이동 모달 컴포넌트의 위치 오류 수정
  client/src/components/boardPage/AddListOrCard.js
  client/src/components/cardModal/CardDueDateContainer.js
  client/src/components/provider/CardScrollProvider.js
  client/src/context/CalendarContext.js
Labels: 🕷 Bug, 🖥 Client

#422 카드 삭제 컴포넌트 구현 및 여러 버그 수정
  client/public/favicon.png
  client/src/components/boardPage/ActivitySidebar.js
  client/src/components/boardPage/AddListOrCard.js
  client/src/components/boardPage/AskOverDropdown.js
  client/src/components/boardPage/InvitedUserDropdown.js
  client/src/components/boardPage/List.js
  client/src/components/boardPage/TopMenu.js
  client/src/components/boardPage/UserDetailForDropdown.js
  client/src/components/boardPage/index.js
  client/src/components/cardModal/CardDueDateContainer.js
  client/src/components/cardModal/CardMemberContainer.js
  client/src/components/cardModal/CardModal.js
  client/src/components/cardModal/CommentContainer.js
  client/src/components/common/Board.js
  client/src/components/common/BoardsDropdown.js
  client/src/components/common/CreateBoardModal.js
  client/src/components/common/MemberButton.js
  client/src/components/common/MemberModal.js
  client/src/components/common/MoveButton.js
  client/src/components/common/MoveModal.js
  client/src/components/common/RemoveButton.js
  client/src/components/common/header.js
  client/src/components/mainPage/CardScroll.js
  client/src/components/mainPage/index.js
  client/src/context/CalendarContext.js
  client/src/styles/globalStyles.js
  client/src/styles/theme.js
  client/src/utils/cardRequest.js
  client/src/utils/contentScript.js
  client/src/utils/request.js
Labels: 🕷 Bug, 🖥 Client

#424 웨일 확장앱 설정 파일 추가
  whale/images/BoosTrello_Logo.png
  whale/index.html
  whale/index.js
  whale/manifest.json
  whale/notifications.js
Labels: 🐳whale

#423 카드 스크롤 컴포넌트 반응형으로 구현
  client/src/components/mainPage/CardScroll.js
Labels: 🖥 Client

#425 subscriber 버그 수정, 생성자 초대 가능 버그 수정
  server/src/service/BoardService.js
  server/src/subscriber/BoardSubscriber.js
  server/src/subscriber/CardSubscriber.js
  server/src/subscriber/CommentSubscriber.js
  server/src/subscriber/InvitationSubscriber.js
  server/src/subscriber/ListSubscriber.js
Labels: 💾 Server

#421 카드 상세 모달 댓글 수정/삭제 API 연동 완료
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/src/components/cardModal/CardModal.js
  client/src/components/cardModal/Comment.js
  client/src/components/cardModal/CommentContainer.js
  client/src/components/cardModal/CommentInput.js
  client/src/utils/commentRequest.js
Labels: 🖥 Client

#427 카드 상세 모달 내 타이틀 수정 시 메인, 보드 상세 반영, 버그 수정
  client/src/components/boardPage/ActivityDetail.js
  client/src/components/boardPage/ActivitySidebar.js
  client/src/components/boardPage/AddListOrCard.js
  client/src/components/boardPage/List.js
  client/src/components/boardPage/ListMoveDropdown.js
  client/src/components/boardPage/index.js
  client/src/components/cardModal/CardModal.js
  client/src/components/cardModal/CardTitleContainer.js
  client/src/components/common/AddBoardButton.js
  client/src/components/common/CreateBoardModal.js
  client/src/components/mainPage/AddBoardButton.js
  client/src/components/mainPage/CardScroll.js
  client/src/components/mainPage/index.js
  client/src/utils/userRequest.js
Labels: 🕷 Bug, 🖥 Client

#426 Signin Scene 리팩토링
  iOS/AreUDone/AreUDone/SignInScene/Model/SigninChecker.swift
  iOS/AreUDone/AreUDone/SignInScene/Model/VideoPlayerLooper.swift
  iOS/AreUDone/AreUDone/SignInScene/SigninCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
  iOS/AreUDone/AreUDone/SignInScene/View/SigninButton.swift
  iOS/AreUDone/AreUDone/SignInScene/ViewModel/SigninViewModel.swift
Labels: 📱 iOS, 🛠 Refactor

#428 Common / Service 리팩토링
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/AlertFactory.swift
  iOS/AreUDone/AreUDone/Common/Constants/FetchBoardOption.swift
  iOS/AreUDone/AreUDone/Common/Constants/Key.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/TabbarCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/EndPointable+.swift
  iOS/AreUDone/AreUDone/Common/Extension/UICollectionView+.swift
  iOS/AreUDone/AreUDone/Common/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/Common/Keychain.swift
  iOS/AreUDone/AreUDone/Common/Mock/UserJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/Board.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/CardDetail.swift
  iOS/AreUDone/AreUDone/Common/Model/ListOfBoard.swift
  iOS/AreUDone/AreUDone/Common/Model/MonthCardCount.swift
  iOS/AreUDone/AreUDone/Common/Model/StoredEndPoint.swift
  iOS/AreUDone/AreUDone/Common/Model/TokenParser.swift
  iOS/AreUDone/AreUDone/Common/Model/User.swift
  iOS/AreUDone/AreUDone/Common/Model/UserInfo.swift
  iOS/AreUDone/AreUDone/Common/NWMonitor.swift
  iOS/AreUDone/AreUDone/Common/ScreenBorderLayerAnimator.swift
  iOS/AreUDone/AreUDone/Common/TabbarItemContentsFactory.swift
  iOS/AreUDone/AreUDone/Common/View/CustomBarButtonItem.swift
  iOS/AreUDone/AreUDone/Common/View/CustomSegmentControl.swift
  iOS/AreUDone/AreUDone/Common/View/EmptyIndicatorView.swift
  iOS/AreUDone/AreUDone/Common/View/PaddingLabel.swift
  iOS/AreUDone/AreUDone/Common/View/PaddingTextField.swift
  iOS/AreUDone/AreUDone/InvitationScene/ViewModel/InvitationViewModel.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/Service/ActivityService/ActivityEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ActivityService/ActivityService.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/CardService/CardService.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentEndPoint.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentLocalDataSource.swift
  iOS/AreUDone/AreUDone/Service/CommentService/CommentService.swift
  iOS/AreUDone/AreUDone/Service/ImageService/ImageEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ImageService/ImageService.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListEndPoint.swift
  iOS/AreUDone/AreUDone/Service/ListService/ListService.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserEndPoint.swift
  iOS/AreUDone/AreUDone/Service/UserService/UserService.swift
  iOS/AreUDone/NetworkFramework/EndPointable.swift
  iOS/AreUDone/NetworkFramework/Routable.swift
Labels: 📱 iOS, 🕷 Bug, 🛠 Refactor

#429 Calendar Scene 리팩토링
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardContentView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/DeleteCardView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateLabel.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateStepper.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/StackView/CardDetailMemberView.swift
  iOS/AreUDone/AreUDone/Common/Constants/SingleSection.swift
  iOS/AreUDone/AreUDone/SignInScene/SigninCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/ViewModel/SigninViewModel.swift
Labels: 📱 iOS, 🛠 Refactor

#433 CalendarPicker Scene 리팩토링
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarPickerScene/CalendarPickerCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/Model/Day.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/Model/MonthMetadata.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarCollectionView.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarDateCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerHeaderView.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/CalendarPickerViewController.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/View/DayLabel.swift
  iOS/AreUDone/AreUDone/CalendarPickerScene/ViewModel/CalendarPickerViewModel.swift
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateStepper.swift
  iOS/AreUDone/AreUDone/CardAddScene/CardAddCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIColor+.swift
Labels: 📱 iOS, 🛠 Refactor

#434 보드 / 카드 추가 리팩토링
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/BoardAddScene/BoardAddCoordinator.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/Controller/BoardAddViewController.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/TableView/BoardAddTableView.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/TableView/BoardAddTableViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/TableView/BoardColorTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardAddScene/View/TableView/TitleTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardAddScene/ViewModel/BoardAddViewModel.swift
  iOS/AreUDone/AreUDone/CardAddScene/CardAddCoordinator.swift
  iOS/AreUDone/AreUDone/CardAddScene/View/Controller/CardAddViewController.swift
  iOS/AreUDone/AreUDone/CardAddScene/View/TableView/CardAddCalendarTableViewCell.swift
  iOS/AreUDone/AreUDone/CardAddScene/View/TableView/CardAddContentsTableViewCell.swift
  iOS/AreUDone/AreUDone/CardAddScene/View/TableView/CardAddTableView.swift
  iOS/AreUDone/AreUDone/CardAddScene/View/TableView/CardAddTableViewDataSource.swift
  iOS/AreUDone/AreUDone/CardAddScene/ViewModel/CardAddViewModel.swift
Labels: 📱 iOS, 🛠 Refactor

#435 보드 상세 가져올 때 에러 수정
  client/src/components/boardPage/index.js
Labels: 🕷 Bug, 🖥 Client

#437 카드 스크롤 iterable 에러 해결
  client/src/components/provider/CardScrollProvider.js
Labels: 🕷 Bug, 🖥 Client

#441 보드 상세 리팩토링
  iOS/AreUDone/AreUDone/BoardDetailScene/BoardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/AddOrCancelView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailCollectionViewDataSource.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/CollectionView/BoardDetailFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/Controller/BoardDetailViewController.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/TableView/ListFooterView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/TableView/ListHeaderView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/TableView/ListTableView.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/View/TableView/ListTableViewCell.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/BoardDetailViewModel.swift
  iOS/AreUDone/AreUDone/BoardDetailScene/ViewModel/ListViewModel.swift
  iOS/AreUDone/AreUDone/CardAddScene/CardAddCoordinator.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/Controller/SideBarViewController.swift
  iOS/AreUDone/AreUDone/SideBarScene/View/SideBarView/CollectionView/MemberFooterView.swift
Labels: 📱 iOS, 🛠 Refactor

#442 바벨 런타임 설치
  server/package-lock.json
  server/package.json
Labels: 💾 Server, 🕷 Bug

#449 ContentInput Scene 리팩토링
  iOS/AreUDone/AreUDone/ContentInputScene/ContentInputCoordinator.swift
  iOS/AreUDone/AreUDone/ContentInputScene/View/Controller/ContentInputViewController.swift
  iOS/AreUDone/AreUDone/ContentInputScene/ViewModel/ContentInputViewModel.swift
Labels: 📱 iOS, 🛠 Refactor
