Repository boostcamp-2020/Project04-B-Whale, pull requests merged in 2020-11, with the labels that each got.

#3 iOS 환경설정
  iOS/.gitignore
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/AreUDone/AreUDone.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/AreUDone/AreUDone/AppDelegate.swift
  iOS/AreUDone/AreUDone/LoginScene/Resources/Base.lproj/Login.storyboard
  iOS/AreUDone/AreUDone/LoginScene/View/Controller/SignInViewController.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/Contents.json
  iOS/AreUDone/AreUDone/Supports/Base.lproj/LaunchScreen.storyboard
  iOS/AreUDone/AreUDone/Supports/Info.plist
  iOS/AreUDone/AreUDoneTests/AreUDoneTests.swift
  iOS/AreUDone/AreUDoneTests/Info.plist
  iOS/AreUDone/AreUDoneUITests/AreUDoneUITests.swift
  iOS/AreUDone/AreUDoneUITests/Info.plist
Labels: 🌎 Environment, 📱 iOS

#4 WEB 통합 환경설정
  .gitignore
  client/.eslintignore
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc.js
  client/package-lock.json
  client/package.json
  client/yarn.lock
  server/.babelrc.js
  server/.eslintignore
  server/.eslintrc.js
  server/.prettierrc.js
  server/package-lock.json
  server/package.json
Labels: WEB, 🌎 Environment

#6 최초 동작 Coordinator 설계
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Coordinator/AppCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/Coordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/LoginScene/Resources/Base.lproj/Login.storyboard
  iOS/AreUDone/AreUDone/SignInScene/Resources/Base.lproj/SignIn.storyboard
  iOS/AreUDone/AreUDone/SignInScene/SignInCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SignInViewController.swift
Labels: 💥 Feature, 📱 iOS

#8 SignInViewController 생성
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Model/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/SignInScene/SignInCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SignInViewController.swift
  iOS/AreUDone/AreUDone/SignInScene/ViewModel/SignInViewModel.swift
Labels: 💥 Feature, 📱 iOS

#11 KeychainFramework 생성
  .DS_Store
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Model/Keychain.swift
  iOS/AreUDone/AreUDone/SignInScene/Resources/Base.lproj/SignIn.storyboard
  iOS/AreUDone/AreUDone/SignInScene/Resources/SignIn.storyboard
  iOS/AreUDone/AreUDoneTests/AreUDoneTests.swift
  iOS/AreUDone/AreUDoneUITests/AreUDoneUITests.swift
  iOS/AreUDone/KeychainFramework/Info.plist
  iOS/AreUDone/KeychainFramework/InternetAuthenticationType.swift
  iOS/AreUDone/KeychainFramework/InternetProtocol.swift
  iOS/AreUDone/KeychainFramework/KeychainFramework.h
  iOS/AreUDone/KeychainFramework/SecureStore.swift
  iOS/AreUDone/KeychainFramework/SecureStoreError.swift
  iOS/AreUDone/KeychainFramework/SecureStoreQueryable.swift
Labels: 💥 Feature, 📱 iOS

#12 네트워크 프레임워크 레이어 만들기
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/SignInScene/SignInCoordinator.swift
  iOS/AreUDone/NetworkFramework/EndPointable.swift
  iOS/AreUDone/NetworkFramework/Info.plist
  iOS/AreUDone/NetworkFramework/NetworkFramework.h
  iOS/AreUDone/NetworkFramework/Routable.swift
  iOS/AreUDone/NetworkFramework/Router.swift
Labels: 💥 Feature, 📱 iOS

#14 SceneCoordinator 구조 변경
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Model/InitCoordinatorFactory.swift
Labels: 📱 iOS, 🛠 Refactor

#16 Feature/service layer#15
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Model/Service/ActivityService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/BoardService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/CardService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/CommentService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/ListService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/UserService.swift
  iOS/AreUDone/AreUDone/SignInScene/SignInCoordinator.swift
  iOS/AreUDone/NetworkFramework/Routable.swift
Labels: 💥 Feature, 📱 iOS

#43 엔티티 정의 및 서비스 클래스 생성
  .gitignore
  server/.babelrc.js
  server/.eslintrc.js
  server/jsconfig.json
  server/package-lock.json
  server/package.json
  server/src/Application.js
  server/src/ApplicationFactory.js
  server/src/common/config/database/ConnectionOptionGenerator.js
  server/src/common/config/database/DatabaseType.js
  server/src/common/env/DatabaseEnv.js
  server/src/common/env/EnvType.js
  server/src/common/error/BusinessError.js
  server/src/common/error/ErrorCode.js
  server/src/common/middleware/RequestType.js
  server/src/common/middleware/errorHandler.js
  server/src/common/middleware/transformer.js
  server/src/common/middleware/validator.js
  server/src/main.js
  server/src/model/Activity.js
  server/src/model/Board.js
  server/src/model/Card.js
  server/src/model/Comment.js
  server/src/model/Invitation.js
  server/src/model/List.js
  server/src/model/User.js
  server/src/service/AbstractService.js
  server/src/service/ActivityService.js
  server/src/service/BoardService.js
  server/src/service/CardService.js
  server/src/service/CommentService.js
  server/src/service/InvitationService.js
  server/src/service/ListService.js
  server/src/service/UserService.js
  server/test/common/middleware/transformer.test.js
  server/test/common/middleware/validator.test.js
Labels: 💥 Feature, 💾 Server

#44 Signin ViewController 및 ViewModel 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/Model/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/SignInScene/Resources/SignIn.storyboard
  iOS/AreUDone/AreUDone/SignInScene/Resources/Signin.storyboard
  iOS/AreUDone/AreUDone/SignInScene/SigninCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SignInViewController.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
  iOS/AreUDone/AreUDone/SignInScene/View/SigninButton.swift
  iOS/AreUDone/AreUDone/SignInScene/ViewModel/SignInViewModel.swift
  iOS/AreUDone/AreUDone/SignInScene/ViewModel/SigninViewModel.swift
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/NaverIcon.imageset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/NaverIcon.imageset/네이버 아이디로 로그인_아이콘형_Green.PNG
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/NaverSignInIcon.imageset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/NaverSignInIcon.imageset/네이버 아이디로 로그인_완성형_Green.PNG
  iOS/AreUDone/AreUDone/Supports/Fonts/NanumSquareBold.ttf
  iOS/AreUDone/AreUDone/Supports/Fonts/NanumSquareLight.ttf
  iOS/AreUDone/AreUDone/Supports/Fonts/NanumSquareOTF_acEB.otf
  iOS/AreUDone/AreUDone/Supports/Fonts/NanumSquareRegular.ttf
Labels: 💥 Feature, 📱 iOS

#45 1주차 배포를 위한 머지 작업
  iOS/.gitignore
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/AreUDone/AreUDone.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/AreUDone/AreUDone/AppDelegate.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/AppCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/Coordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/Model/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/Keychain.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/ActivityService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/BoardService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/CardService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/CommentService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/ListService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/UserService.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/SignInScene/Resources/Signin.storyboard
  iOS/AreUDone/AreUDone/SignInScene/SigninCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
  iOS/AreUDone/AreUDone/SignInScene/View/SigninButton.swift
  iOS/AreUDone/AreUDone/SignInScene/ViewModel/SigninViewModel.swift
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/NaverSignInIcon.imageset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/NaverSignInIcon.imageset/NaverSigninIcon@2x.png
  iOS/AreUDone/AreUDone/Supports/Base.lproj/LaunchScreen.storyboard
  iOS/AreUDone/AreUDone/Supports/Fonts/NanumSquareBold.ttf
  iOS/AreUDone/AreUDone/Supports/Fonts/NanumSquareLight.ttf
  iOS/AreUDone/AreUDone/Supports/Fonts/NanumSquareOTF_acEB.otf
  iOS/AreUDone/AreUDone/Supports/Fonts/NanumSquareRegular.ttf
  iOS/AreUDone/AreUDone/Supports/Info.plist
  iOS/AreUDone/AreUDoneTests/AreUDoneTests.swift
  iOS/AreUDone/AreUDoneTests/Info.plist
  iOS/AreUDone/KeychainFramework/Info.plist
  iOS/AreUDone/KeychainFramework/InternetAuthenticationType.swift
  iOS/AreUDone/KeychainFramework/InternetProtocol.swift
  iOS/AreUDone/KeychainFramework/KeychainFramework.h
  iOS/AreUDone/KeychainFramework/SecureStore.swift
  iOS/AreUDone/KeychainFramework/SecureStoreError.swift
  iOS/AreUDone/KeychainFramework/SecureStoreQueryable.swift
  iOS/AreUDone/NetworkFramework/EndPointable.swift
  iOS/AreUDone/NetworkFramework/Info.plist
  iOS/AreUDone/NetworkFramework/NetworkFramework.h
  iOS/AreUDone/NetworkFramework/Routable.swift
  iOS/AreUDone/NetworkFramework/Router.swift
Labels: 💥 Feature, 📱 iOS

#46 1주차 배포를 위한 Merge
  .gitignore
  client/.eslintignore
  client/.eslintrc.js
  client/.gitignore
  client/.prettierrc.js
  client/package-lock.json
  client/package.json
  client/yarn.lock
  server/.babelrc.js
  server/.eslintignore
  server/.eslintrc.js
  server/.prettierrc.js
  server/jsconfig.json
  server/package-lock.json
  server/package.json
  server/src/Application.js
  server/src/ApplicationFactory.js
  server/src/common/config/database/ConnectionOptionGenerator.js
  server/src/common/config/database/DatabaseType.js
  server/src/common/env/DatabaseEnv.js
  server/src/common/env/EnvType.js
  server/src/common/error/BusinessError.js
  server/src/common/error/ErrorCode.js
  server/src/common/middleware/RequestType.js
  server/src/common/middleware/errorHandler.js
  server/src/common/middleware/transformer.js
  server/src/common/middleware/validator.js
  server/src/main.js
  server/src/model/Activity.js
  server/src/model/Board.js
  server/src/model/Card.js
  server/src/model/Comment.js
  server/src/model/Invitation.js
  server/src/model/List.js
  server/src/model/User.js
  server/src/service/AbstractService.js
  server/src/service/ActivityService.js
  server/src/service/BoardService.js
  server/src/service/CardService.js
  server/src/service/CommentService.js
  server/src/service/InvitationService.js
  server/src/service/ListService.js
  server/src/service/UserService.js
  server/test/common/middleware/transformer.test.js
  server/test/common/middleware/validator.test.js
Labels: WEB

#47 SigninButton 분리
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/SignInScene/Resources/Signin.storyboard
  iOS/AreUDone/AreUDone/SignInScene/View/SigninButton.swift
  iOS/AreUDone/AreUDone/Supports/Info.plist
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#48 SigninButton 수정
  iOS/AreUDone/AreUDone/SignInScene/Resources/Signin.storyboard
  iOS/AreUDone/AreUDone/SignInScene/View/SigninButton.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#52 ViewController identifier 추가 / 컨벤션 적용
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIViewController+.swift
  iOS/AreUDone/AreUDone/Common/Model/Keychain.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/ActivityService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/BoardService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/CardService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/CommentService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/ListService.swift
  iOS/AreUDone/AreUDone/Common/Model/Service/UserService.swift
  iOS/AreUDone/AreUDone/SignInScene/Resources/Signin.storyboard
  iOS/AreUDone/AreUDone/SignInScene/SigninCoordinator.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
  iOS/AreUDone/AreUDone/SignInScene/View/SigninButton.swift
  iOS/AreUDone/AreUDone/SignInScene/ViewModel/SigninViewModel.swift
Labels: 📱 iOS, 🛠 Refactor

#56 TabbarCoordinator 구조 기초 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/Resources/Calendar.storyboard
  iOS/AreUDone/AreUDone/CalendarScene/View/CalendarViewController.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/Coordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/SceneCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Coordinator/TabbarCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/Model/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/SceneDelegate.swift
  iOS/AreUDone/AreUDone/SignInScene/SigninCoordinator.swift
  iOS/AreUDone/AreUDone/ViewModel/CalendarViewModel.swift
Labels: 💥 Feature, 📱 iOS

#59 Signin 화면의 비디오 배경에 애니메이션 추가
  iOS/AreUDone/AreUDone/SignInScene/Model/VideoPlayerLooper.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#62 카드 관련 네트워크 객체 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/Common/Constants/APICredentials.swift
  iOS/AreUDone/AreUDone/Common/Extension/Date+.swift
  iOS/AreUDone/AreUDone/Common/Mock/CardJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Mock/JsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Mock/MockRouter.swift
  iOS/AreUDone/AreUDone/Common/Model/ActivityService/ActivityService.swift
  iOS/AreUDone/AreUDone/Common/Model/BoardService/BoardService.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/Card.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/CardEndPoint.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/CardService.swift
  iOS/AreUDone/AreUDone/Common/Model/CommentService/CommentService.swift
  iOS/AreUDone/AreUDone/Common/Model/InitCoordinatorFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/ListService/ListService.swift
  iOS/AreUDone/AreUDone/Common/Model/UserService/UserService.swift
  iOS/AreUDone/AreUDone/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDoneTests/RouterTests.swift
Labels: 💥 Feature, 📱 iOS

#63 Calendar 화면 UI 구성
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/Resources/Calendar.storyboard
  iOS/AreUDone/AreUDone/CalendarScene/View/CardTableViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardTableViewCell.xib
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateLabel.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/UITableView+.swift
  iOS/AreUDone/AreUDone/Common/Protocol/NibLoadable.swift
  iOS/AreUDone/AreUDone/Common/Protocol/Reusable.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
  iOS/AreUDone/AreUDone/SignInScene/View/SigninButton.swift
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/comment-icon.imageset/Contents.json
  iOS/AreUDone/AreUDone/Supports/Assets.xcassets/comment-icon.imageset/comment-icon.png
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#71 Calendar 화면 TableView 구성
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/Resources/Calendar.storyboard
  iOS/AreUDone/AreUDone/CalendarScene/View/CardTableView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardTableViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardTableViewCell.xib
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/UITableView+.swift
  iOS/AreUDone/AreUDone/Common/Mock/CardJsonFactory.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/Card.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#73 FE 기본 환경 설정 세팅
  client/.eslintrc.js
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.js
  client/src/components/boardPage/index.js
  client/src/components/loginPage/index.js
  client/src/components/mainPage/index.js
  client/src/index.js
  client/src/styles/globalStyles.js
  client/src/styles/theme.js
  client/src/utils/api.js
Labels: 🌎 Environment, 🖥 Client

#75 네이버 로그인 구현 완료
  server/package-lock.json
  server/package.json
  server/src/Application.js
  server/src/ApplicationFactory.js
  server/src/common/config/passport/NaverStrategy.js
  server/src/common/util/JwtAsyncWrapper.js
  server/src/common/util/JwtUtil.js
  server/src/main.js
  server/src/router/OAuthRouter.js
  server/src/router/index.js
  server/src/service/ActivityService.js
  server/src/service/BaseService.js
  server/src/service/BoardService.js
  server/src/service/CardService.js
  server/src/service/CommentService.js
  server/src/service/InvitationService.js
  server/src/service/ListService.js
  server/src/service/UserService.js
  server/test/common/util/JwtUtil.test.js
Labels: 💾 Server

#78 CardTableView를 CollectionView로 변경
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/Resources/Calendar.storyboard
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardContentView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/DeleteCardView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardTableView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardTableViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardTableViewCell.xib
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/Common/Extension/UICollectionView+.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS, 🛠 Refactor

#79 passport-jwt API 인증 미들웨어
  server/package-lock.json
  server/package.json
  server/src/Application.js
  server/src/common/config/passport/JwtStrategy.js
  server/src/common/error/BadRequestError.js
  server/src/common/error/EntityNotFoundError.js
  server/src/common/middleware/errorHandler.js
  server/src/router/UserRouter.js
  server/src/router/index.js
  server/src/service/UserService.js
Labels: 💾 Server

#83 CardCell swipe 동작 추가
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#81 보드 전체 조회 API 구현
  server/src/router/BoardRouter.js
  server/src/router/index.js
  server/src/service/BoardService.js
  server/test/router/BoardRouter.test.js
Labels: 💾 Server

#88 보드 생성 API 구현
  server/src/router/BoardRouter.js
  server/src/service/BoardService.js
  server/test/router/BoardRouter.test.js
Labels: 💾 Server

#87 메인 페이지의 sidebar 컴포넌트 생성
  client/src/components/mainPage/Board.js
  client/src/components/mainPage/SideBar.js
  client/src/components/mainPage/index.js
  client/src/components/provider/BoardsProvider.js
  client/src/context/BoardsContext.js
  client/src/utils/api.js
  client/src/utils/boardRequest.js
Labels: 🖥 Client

#93 보드 생성 api 응답 수정
  server/src/router/BoardRouter.js
  server/src/service/BoardService.js
Labels: 💾 Server

#92 Header, Board 생성 모달 구현
  client/src/components/common/create-board-modal.js
  client/src/components/common/header.js
  client/src/components/mainPage/index.js
  client/src/utils/boardRequest.js
Labels: 🖥 Client

#97 board dropdown 컴포넌트 추가
  client/src/components/common/Board.js
  client/src/components/common/BoardsButton.js
  client/src/components/common/BoardsDropdown.js
  client/src/components/common/header.js
  client/src/components/mainPage/AddBoardButton.js
  client/src/components/mainPage/SideBar.js
  client/src/components/mainPage/index.js
  client/src/styles/theme.js
Labels: 🖥 Client

#100 카드 상세화면으로 화면전환 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/DetailCard.swift
  iOS/AreUDone/AreUDone/DetailCardScene/DetailCardCoordinator.swift
  iOS/AreUDone/AreUDone/DetailCardScene/Resource/DetailCard.storyboard
  iOS/AreUDone/AreUDone/DetailCardScene/View/Controller/DetailCardViewController.swift
  iOS/AreUDone/AreUDone/DetailCardScene/View/DetailCardContentView.swift
  iOS/AreUDone/AreUDone/DetailCardScene/View/DetailCardDueDateView.swift
  iOS/AreUDone/AreUDone/DetailCardScene/View/DetailCardStackView.swift
  iOS/AreUDone/AreUDone/DetailCardScene/ViewModel/DetailCardViewModel.swift
  iOS/AreUDone/AreUDone/SignInScene/View/Controller/SigninViewController.swift
Labels: 💥 Feature, 📱 iOS

#104 로그아웃 구현
  client/src/components/common/header.js
Labels: 🖥 Client

#105 CardDetailView 구현
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/CardDetailCoordinator.swift
  iOS/AreUDone/AreUDone/CardDetailScene/Resource/CardDetail.storyboard
  iOS/AreUDone/AreUDone/CardDetailScene/View/CardDetailContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CardDetailDueDateView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CardDetailStackView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentCollectionView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/Controller/CardDetailViewController.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/DetailCardTableView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
  iOS/AreUDone/AreUDone/Common/Extension/UICollectionView+.swift
  iOS/AreUDone/AreUDone/Common/Extension/UIStoryboard+.swift
  iOS/AreUDone/AreUDone/Common/Model/CardService/CardDetail.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#113 CardDetailView 수정
  .DS_Store
  iOS/AreUDone/AreUDone.xcodeproj/project.pbxproj
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CardDetailContentLabel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CardDetailContentView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CardDetailDueDateView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CardDetailStackView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentCollectionView.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/CommentCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CardDetailScene/View/PaddingLabel.swift
  iOS/AreUDone/AreUDone/CardDetailScene/ViewModel/CardDetailViewModel.swift
Labels: 🎉 UI, 💥 Feature, 📱 iOS

#117 데이터베이스 스키마 변경 (멤버 엔티티 추가)
  server/src/model/Board.js
  server/src/model/Card.js
  server/src/model/Member.js
  server/src/model/User.js
Labels: 💾 Server

#124 CalendarScene 컨벤션 정리
  iOS/AreUDone/AreUDone/CalendarScene/CalendarCoordinator.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardCollectionViewCell.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/CardContentView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/CardCollectionView/DeleteCardView.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/Controller/CalendarViewController.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateLabel.swift
  iOS/AreUDone/AreUDone/CalendarScene/View/DateStepper.swift
  iOS/AreUDone/AreUDone/CalendarScene/ViewModel/CalendarViewModel.swift
Labels: 📱 iOS, 🛠 Refactor

#119 BoardRouter.test.js 테스트 에러 해결
  server/src/router/BoardRouter.js
  server/src/service/BoardService.js
  server/test/router/BoardRouter.test.js
Labels: 💾 Server
